<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What's up Docker?</title>

    <!-- Bulma -->
    <script defer src="/static/js/fontawesome.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css">

    <!-- EJS -->
    <script defer src="/static/js/ejs.min.js"></script>

    <!-- Moment -->
    <script defer src="/static/js/moment.min.js"></script>

    <style>
        .table td {
            vertical-align: middle;
        }

        .nowrap {
            white-space: nowrap;
            hyphens: none;
        }
    </style>
</head>
