<section class="container is-fluid mt-4">
    <article class="message" style="display: none;" id="message">
        <div class="message-header">
            <p id="message-header"></p>
            <button class="delete" aria-label="delete" id="btn-message-delete"></button>
        </div>
        <div class="message-body" id="message-body"></div>
    </article>
</section>

<script>


    window.onload = function () {
        const btnDelete = document.getElementById('btn-message-delete');
        btnDelete.onclick = function () {
            const message = document.getElementById('message');
            message.style.display = 'none';
        }
    };

    window.message = {
        display(title, body, isError) {
            const message = document.getElementById('message');
            message.classList.remove('is-primary', 'is-warning');
            const messageHeader = document.getElementById('message-header');
            const messageBody = document.getElementById('message-body');
            message.classList.add(isError ? 'is-warning' : 'is-primary');
            messageHeader.innerText = title;
            messageBody.innerText = body;
            message.style.display = 'block';
        }
    };
</script>