<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="navbar-item is-size-4">
            What's up Docker?
        </span>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/images">
                Images
            </a>
            <a class="navbar-item" href="/watchers">
                Watchers
            </a>
            <a class="navbar-item" href="/triggers">
                Triggers
            </a>
            <a class="navbar-item" href="/registries">
                Registries
            </a>
        </div>
    </div>
</nav>