{
    "extends": "airbnb-base",
    "plugins": ["jest"],
    "rules": {
        "indent": ["error", 4],
        "no-underscore-dangle": ["error", { "allow":  ["__get__", "__set__"]}]
    },
    "env": {
        "jest/globals": true
      }
}