<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>

<body>

<%- include('partials/nav.ejs') %>

<section class="container is-fluid mt-4">
    <%- include('partials/images.ejs') %>
</section>
</body>
</html>